    rules_version = '2';
    service cloud.firestore {
      match /databases/{database}/documents {
        match /your_collection/{document} {
          allow read, write: if true;
        }
      }
    }